.certificate-container * {
  box-sizing: border-box;
}
.certificate-container {
  display: flex;
  justify-content: center;
  position: relative;
}
.certificate-container::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
:root {
  --text-color: #20438e;
  --second-color: #20438eb5;
}
.certificate {
  overflow: hidden;
  width: 900px;
  height: 600px;
  min-width: 900px;
  min-height: 600px;
  max-width: 900px;
  max-height: 600px;
  background: #fff;
  padding: 10px 60px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  font-family: "Radley", sans-serif;
  color: var(--text-color);
}

.upleft,
.bottomright {
  position: absolute;

  width: 550px;
  height: 550px;
}
.upleft {
  top: -155px;
  left: -155px;
}
.bottomright {
  bottom: -175px;
  right: -175px;
}
.header {
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 10px;
}

.logo img {
  max-width: 100px;
}

.date {
  position: absolute;
  top: 40px;
  right: 60px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--second-color);
}

h1 {
  font-family: "Radley", serssif;
  font-size: 38px;
  margin: 10px 0 0;
  letter-spacing: 1px;
}

h2 {
  font-family: "Radley", serif;
  font-size: 20px;
  margin: 5px 0 20px;
  font-weight: 500;
}

.certify {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 500;
}

.name {
  font-family: "BrittanySignature", cursive;
  font-size: 60px;
  text-align: center;
  color: var(--text-color);
  margin: 10px 0;
  margin-bottom: 40px;
  position: relative;
}

/* .name::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 70%;
  height: 1px;
  background: var(--text-color);
  transform: translateX(-50%);
} */

.under {
  width: 120mm;
  margin: 0 auto;
  display: flex;
  padding: 0;
  align-items: center;
  font-weight: bol;
}

.under-name {
  width: 100%;
  height: 0.3mm;
  background: var(--second-color);
}
.circle {
  width: 1.5mm;
  height: 1.5mm;
  border: 1px var(--second-color) solid;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

.description {
  margin: auto;
  text-align: center;
  max-width: 150mm;
  margin-top: 25px;
  font-size: 12px;
  line-height: 1.6;
  color: var(--second-color);
  font-weight: 500;
  text-transform: uppercase;
}
.type {
  text-transform: uppercase;
}
.signatures {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  padding: 0 150px;
  text-transform: uppercase;
}

.signature-block {
  text-align: center;
  font-size: 13px;
}

.signature-line {
  width: 120px;
  height: 1px;
  /* color: var(--second-color);s */
  background: var(--second-color);
  margin: 10px auto;
}

.signature-name {
  /* position: relative; */
  width: 80px;
  height: 30px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 12px;
  font-weight: 500;
  margin-top: 4px;
  color: var(--second-color);
  text-transform: uppercase;
}
.signature {
  /* position: absolute; */
  /* top: 0; */
  width: 100%;
  /* left: 50%; */
}
.certificate-id {
  /* text-transform: uppercase; */
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  bottom: 25;
  left: 25;
  color: var(--second-color);
}
