/* Responsive design */
@media (max-width: 576px) {
  .test {
    margin-left: 70px;
  }
}
.overlay {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
