@import "tailwindcss";

header {
  height: 10vh;
}
.page-not-found {
  height: 90vh !important;
}
a {
  border: none !important;
}
.main-content {
  margin-left: 70px;
}
@theme {
  --color-main: #f59e0b;
  --color-main-500: #f7c878;
}
/* Custom components */
@layer components {
  .btn-custom {
    background-color: var(--color-custom-yellow);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
  .custome-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .custom-radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Custom styles */
    width: 20px;
    height: 20px;
    border: 2px solid #d1d5db;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    position: relative;
  }
  .custom-radio:checked {
    background-color: var(--color-main);
    border-color: var(--color-main);
  }
  .text-main {
    color: var(--color-main) !important;
  }
  .custom-radio:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
  }
}

/* Custom utilities */
@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
}
.slideIn {
  animation: slideIn 0.3s ease-in-out forwards;
}

.slideOut {
  animation: slideOut 0.3s ease-in-out forwards;
}
.fadeIn {
  animation: fadeIn 0.3s ease-in forwards;
}
.fadeOut {
  animation: fadeOut 0.3s ease-in forwards;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
